* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-fundo: #DFF4F3;
    --verde-btn: #A3D300;
    --verde-btn-hover: #8EB800;
    --card: #ffffff;
    --accent: #2f6f8b;
    --gold: #f5d04a;
    --silver: #d1d1d1;
    --bronze: #b97950;
    --verde-lima: #DEF6B1;
    
    --branco: #FFF;
    --preto: #000000;
    --azul-cadete: #4FADAF;
    --azul-botao: #57B1B3;
    --azul-mais-escuro: #448A8B;
    --azul-opcao: #37598A;
    --azul-piscina: #78F3F1;
    --azul-verde: #408283;
    --azul-bebe: #B0E4DD;
    --azul-marinho: #2A4A7E;
    --azul-darkeeeer: #1E3D3D;
    --verdin: #008774;
    --verde-dark: #336868;
    --green-nromal: #00A991;
    --green-darkeeeeer: #003B33;
    --green-light: #E6F6F4;
    --azul-cinza: #486794;
    --verde: #4DAFAF;

    --verde-claro: #EEFF92;
}

body {
    background: var(--cor-fundo);
    font-family: "Raleway", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #FFF;
    padding-block: 0.7rem;

    a {
        text-decoration: none;
        color: var(--azul-cadete);
    }

    a:hover{
        color: #37598A;
    }    

    .voltar-home {
        display: flex;
        align-items: center;
        margin-left: 1.6rem;
        gap: 0.6rem;
        color: var(--azul-cadete);
        font-family: "Raleway", sans-serif;
    }

    .opcoes-paginas {
        display: flex;
        align-items: center;
        margin-right: 4.6rem;
        gap: 1.6rem;
        font-size: 12px;
        color: var(--azul-cadete);
    }

    img {
        width: 5.8rem;
    }
}

.opcoes-paginas {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-right: 4.6rem;
}

header a {
    text-decoration: none;
    color: #4FADAF;
}

.pagina-aberta {
    color: #37598A;
}

.page {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem 3rem;
    margin-inline: 10rem;
    gap: 4rem;
}

.page .plantinha {
    display: flex;
    margin-top: 8rem;
    margin-right: 10rem;
    margin-left:8rem ;
    margin-bottom: 1rem;
}

.plantinha {
    width: 440px;
}

.titulo {
    margin-top: 3rem;
    text-align: center;
    color: #2f6f8b;
    font-size: 40px;
    margin-bottom: 2rem;
}

.board-wrapper {
    height: 550px;
    width: 550px;
    background: white;
    padding: 1rem 0;
    border-radius: 18px;
    box-shadow: 0 6px 18px rgba(125, 125, 146, 0.1);
}

.board-header {
    background: #2A4A7E;
    color: var(--branco);
    padding: 16px 24px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    border-radius: 0.8rem 0.8rem 0 0;
}

.board-body {
    padding: 16px;
    height: 500px;
    overflow-y: auto;
    background: #E4F6F5;
}

.item {
    background: #ffffff;
    border-radius: 12px;
    padding: 12px 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.medal {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: 700;
    color: #fff;
}



.medalgold img {
    color: #222; 
    margin-right: 5px;
    margin-left: 5px;
    width: 3.3rem;
    height: 3.3rem;
}

.medalsilver img {
    color: #222; 
    margin-right: 5px;
    margin-left: 5px;
    width: 3.3rem;
    height: 3.3rem;
 }

.medalbronze img {
    color: #222; 
    margin-right: 5px;
    margin-left: 5px;
    width: 3.3rem;
    height: 3.3rem;
}

.name {
    font-weight: 700;
    color: #114a56;
}

.pointos {
    font-weight: 800;
    color: #114a56;
}

.board-body::-webkit-scrollbar {
    width: 10px;
}

.board-body::-webkit-scrollbar-thumb {
    background: #bcdad6;
    border-radius: 10px;
}

/* Container para alinhar o botão à esquerda */
.btn-container {
    
    justify-content: flex-start;
    width: 100%;
}

.btn-voltar {
    margin-top: 4rem;
    background: var(--verde-btn);
    color: white;
    font-size: 26px;
    padding: .7rem 2rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.btn-voltar:hover {
    background: var(--verde-btn-hover);
}

#popupCadastrar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;


    
  }

  .popup-conteudo{
    position: relative;
    background: var(--verde-lima);
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    width: 400px;
} 
  .popup-cadastrar {
    position: relative;
    background: var(--verde-lima);
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    width: 400px;

    p{
        color: var(--verde-dark);
        padding: 1.5rem;
       
        font-weight: 700;
        font-size: 20px;
    }
  }
  
  .fechar {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.3rem;
    font-weight: 600;
    
    cursor: pointer;
    color: var(--verde-dark);

    margin-top: 0.4rem;
    margin-right: 0.4rem;
  }
  .fechar:hover {
    color: var(--branco);
  }
