*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --branco: #FFF;
    --azul-cadete:#4FADAF;
    --azul-opcao: #37598A;
    --azul-bebe: #D9F2EF;
    --azul-fases: #55ADAE;
    --verde-bloqueado: #007F6D;
    --verde-lima: #DEF6B1;
    --verde-dark: #6FAA02;
    --verde-escurin: #598801;
}
body{
    background-color: var(--azul-bebe);
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight:weight;
    font-style: normal;
}
img{
    width: 5.8rem;
}
header{
    display: flex;
    justify-content: space-between; 
    background-color: #FFF;
    padding-block: 0.7rem;

    a{
        text-decoration: none;
        color: var(--azul-cadete);
    }
    .voltar-home{
        display: flex;
        align-items: center;
        margin-left: 1.6rem;
        gap: 0.6rem;
        color: var(--azul-cadete);
        font-family:"Raleway", sans-serif;
    }
    .opcoes-paginas{
        display: flex;
        align-items: center;
        margin-right: 4.6rem;
        gap: 1.6rem;
        font-size: 12px;
        color: var(--azul-cadete);
    }
}
.pagina-aberta{
    color: var(--azul-opcao);
}


.planta{
    width: 16rem;
    margin-bottom: 6rem;
}
.partido-em-dois{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    margin-inline: 12rem;
    gap: 10rem;
    
    
}
.desbloqueado{
    padding: 2.5rem;
    background-color: var(--azul-fases);
    border-radius: 1.5rem;
    font-size: 1.9rem;
    width: 7rem;
    img{
        width: 2rem;
    }
    padding-inline: 3rem;
    margin-bottom: 1rem;
    margin-right: 1.6rem;
    a{
        text-decoration: none;
        color: var(--branco);
        font-weight: 600;
        font-size: 2.4rem;
        
        
    }

}
.bloqueado{
    padding: 2.5rem;
    background-color: var(--verde-bloqueado);
    border-radius: 1.5rem;
    img{
        width: 2rem;
    }
    margin-bottom: 1rem;
    margin-right: 1.6rem;
}

.primeira{
    display: flex;
}
.segunda{
    display: flex;
}
.terceira{
    display: flex;
}
.quarta{
    display: flex;
}
.quinta{
    display: flex;
}
.vida{
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 0.7rem;
    padding-top: 0.9rem;
    margin-top: 4rem;
    background-color: var(--branco);
    width: 13rem;
    border-radius: 10rem;
    
    h2{
        color: var(--azul-fases);
        font-weight: 800;
    }
    img{
        width: 1.5rem;
        height: 1.4rem;
        margin-left: 0.6rem;
    }
}

.vinte-fases {
    display: flex;
    flex-direction: column;
    margin-top: 1.7rem;
}

 

#popup1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;


    
  }
  
  .popup-regras {
    position: relative;
    background: var(--verde-lima);
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    width: 400px;

    p{
        color: var(--verde-dark);
        padding: 1.5rem;
       
        font-weight: 700;
        font-size: 20px;
    }
  }
  
  .fechar {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.3rem;
    font-weight: 600;
    
    cursor: pointer;
    color: var(--verde-dark);

    margin-top: 0.4rem;
    margin-right: 0.4rem;
  }
  .fechar:hover {
    color: var(--branco);
  }
  
 
#popup2 {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.4);
  }
  
  
  #popup2 a {
    text-decoration: none;
  }
  
  .popup-ctzsair {
    position: relative;
    background: var(--verde-lima);
    padding-inline: 3rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
    border-radius: 1rem;
    text-align: center;
    width: 400px;

    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
  }
  

  .popup-ctzsair h3 {
    color: var(--verde-escurin);
    padding: 1.5rem;
    font-weight: 700;
    font-size: 20px;
  }
  
  .popup-ctzsair button {
    color: var(--verde-escurin);
    padding-block: 0.5rem;
    padding-inline: 3rem;
    border-radius: 3rem;
    border: none;
    background-color: #FFF;
    font-weight: 700;
    font-size: 17px;
    cursor: pointer;
  }
  
  .popup-ctzsair .espaco {
    margin-right: 1.5rem;
  }
  
  .popup-ctzsair button:hover {
    background-color: #f0f0f0;
  }
  