*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --branco: #FFF;
    --azul-cadete:#4FADAF;
    --azul-mais-escuro: #448A8B;
    --azul-opcao: #37598A;
    --azul-piscina: #78F3F1;
    --azul-verde: #408283;
}
body{
    background-color: var(--azul-mais-escuro);
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight:weight;
    font-style: normal;
}

img{
    width: 5.8rem;
}
header{
    display: flex;
    justify-content: space-between; 
    background-color: #FFF;
    padding-block: 0.7rem;

    a{
        text-decoration: none;
        color: var(--azul-cadete);
    }
    .voltar-home{
        display: flex;
        align-items: center;
        margin-left: 1.6rem;
        gap: 0.6rem;
        color: var(--azul-cadete);
        font-family:"Raleway", sans-serif;
    }
    .opcoes-paginas{
        display: flex;
        align-items: center;
        margin-right: 4.6rem;
        gap: 1.6rem;
        font-size: 12px;
        color: var(--azul-cadete);
    }
}
.pagina-aberta{
    color: var(--azul-opcao);
}
.jogar {
    display: flex;
    gap: 1rem; 
}


.onda-branca img,
.onda-azulverde img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    display: block;
    
}

.onda-branca img {
    object-position: center -80px; 
    transform: scaleX(1.1);
}

.onda-branca {
    position: relative;
    z-index: 2; 
    padding-left: 1rem;
    background-color: ;
}
.onda-azulverde img{
    object-position: center -80px;
}
.onda-azulverde {
    position: absolute;
    left: 10px;
    z-index: 1;
    padding-left: 1rem;
}
.jogar {
    display: flex;
    gap: 1rem;

    button {
        width: auto; 
        padding: 0.7rem 2.5rem 0.7rem 2.5rem;
        font-size: 18px;
        border-radius: 30rem;
        font-weight: 600;
        background-color: var(--azul-piscina);
        color: var(--azul-verde);
        border: none;
        a{
            text-decoration: none;
            color: var(--azul-verde);
        }
    } 
}
.jogarjogo{
    position: absolute;       
    top: 50%;                 
    left: 50%;                
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;   
    align-items: center;      
    gap: 0.3rem;                
    z-index: 10;   
    margin-left: 10rem;
    margin-top: 2rem;
    font-size: 48px;
    color: var(--branco);
    
}